{
  "plugins": [
    "@babel/syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": { "version": 3, "proposals": true },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "exclude": ["core-js"]
}
